
.icon-mail-1:before { content: '\e800'; } /* '' */
.icon-ok-1:before { content: '\e801'; } /* '' */
.icon-ok:before { content: '\e804'; } /* '' */
.icon-mail:before { content: '\e808'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */